<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Task Reminder</title>
  </head>
  <body>
    <h1>Task Reminder</h1>
    <p>Hello <%= @task.user.email %>,</p>
    <p>This is a reminder that your task "<strong><%= @task.title %></strong>" is due on <%= @task.due_date.strftime("%B %d, %Y at %I:%M %p") %>.</p>
    <p>Please make sure to complete it on time.</p>
    <p>Thank you!</p>
  </body>
</html>